@charset "utf-8";


/***********************nav***************************/
#nav {
    position: fixed;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    background-color: var(--pink4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    z-index: 11;
}

#nav a {
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    line-height: 30%;
    padding: 13px 5% 5px;
}

#nav a b {
    font-size: 0.8rem;
}

#nav a:hover b {
    text-decoration: underline;
}

/***********************패드(아이패드미니 이상)***************************/
@media(min-width: 769px) {
            
}

/*********************데스크톱(아이패드프로 이상)*************************/
@media(min-width: 1025px) {
    
}