@charset "utf-8";

::-webkit-scrollbar {width: 0;} /* 스크롤바 제거 */

        * { margin: 0; padding: 0; box-sizing: border-box; }

        :root {
            --white: white;
            --pink1: #fbe3ee;
            --pink2:#ff63ac;
            --pink3:#b12883;
            --pink4: #480933;
            --pink5: #330722;
            --purple: #c7bee5;
        }

        #layout {
            max-width: 600px;
            margin: auto;
            background: var(--pink1);
            font-family: Arial, sans-serif;
            color: var(--pink4);
            height: 100vh;
            overflow-x: hidden;
            
        }

        a {
            text-decoration: none;
            color: black;
        }


        /***********************main***************************/









        /***********************패드(아이패드미니 이상)***************************/
        @media(min-width: 769px) {
            
        }

        /*********************데스크톱(아이패드프로 이상)*************************/
        @media(min-width: 1025px) {

        }