@charset "utf-8";

::-webkit-scrollbar {
    width: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: white;
    --pink1: #fbe3ee;
    --pink2: #ff63ac;
    --pink3: #b12883;
    --pink4: #480933;
    --pink5: #330722;
    --purple: #c7bee5;
}

#layout {
    max-width: 600px;
    margin: auto;
    background: var(--pink1);
    font-family: Arial, sans-serif;
    color: var(--pink4);
    height: 100vh;
    overflow-x: hidden;
    padding-bottom: 70px;
}

a {
    text-decoration: none;
    color: black;
}


/***********************main***************************/
main {
    padding: 0 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
    padding: 10px;
    border: 2px solid var(--pink4);
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="date"],
input[type="time"] {
    width: 40%;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid var(--pink4);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--white);
    margin-top: 5px;
    width: 80%;
}

input.value::after {
    content: "원";
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background-color: var(--pink3);
    color: var(--white);
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--pink4);
}


/***********************패드(아이패드미니 이상)***************************/
@media(min-width: 769px) {
    
}

/*********************데스크톱(아이패드프로 이상)*************************/
@media(min-width: 1025px) {

}